<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/galeria">galeria</li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/prueba">Prueba</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>